<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .conteiner-header{
            font-style: italic;
            background-color:#333;
            padding: 10px;
            color: white;
        }
        h1 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        h2 {
            color: white;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <center>
        <div class="conteiner-header">
            <h1>
                Mis Practicas Node.js
            </h1>
            <h2>Juan Carlos Ubaldo Sanchez</h2>
        </div>
    </center>
</body>
</html>