<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles-app.css">
    <title>Tabla de Multiplicar</title>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <form action="/tabla" method="post">
        <label for="tabla">Tabla</label>
        <input type="number" id="numero" name="numero" requiered min="0"  required value="<%numero%>">
        <button type="submit">Enviar</button>
        <button type="reset" id="limpiarBtn">Limpiar</button>
    </form>
    <section id="resultados">   
    <% if(numero != null) { %>
        <% for(let con = 1; con <= 10; ++con) { %>
            <% let res = con * numero; %>
            <h3><%= numero %> * <%= con %> = <%= res %></h3>
        <% } %>
    <% } %>
    </section>
    <%-include('partials/footer.ejs')%>
    <script>
        const limpiarBtn = document.getElementById('limpiarBtn');

       limpiarBtn.addEventListener('click', function() {
           const resultados = document.getElementById('resultados');
            resultados.innerHTML = '';
        });
    </script>
</body>
</html>
